@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 500'), url('MuseoSansCyrl_1.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 700'), url('MuseoSansCyrl_2.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 300'), url('MuseoSansCyrl_0.woff') format('woff');
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #4575D4;
}

#app {
  height: 100%;
  width: 100%;
}

.drumletters-wrapper {
  height: 100%;
  width: 100%;
}
.drumletters-title {
  padding-top: 10px;
  height: 5%;
  font-size: 13pt;
  text-align: center;
  color: #FFED40 ;
}
.drumletters-footer {
  height: 10%;
  width: 100%;
}

.drumletters-selector {
  height: 90%;
  width: 100%;
}

.drumletters-main {
  height: 85%;
  width: 100%;
}

.drumletters-letters-container {
  top: 50%;
  transform: translateY(-50%);
}
.drumletters-letters {
  position: relative;
}

.drumletters-letter-container {
  width: 100%;  
}
.drumletters-bigletter {
  font-weight: bold;
  font-size: 190pt;
  text-align: center;
}
.drumletters-bigletter-active {
  color: #75EE3B;
}
.drumletters-bigletter-inactive {
  color: #6B8FD4;
}

.drumletters-taps {
  width: 100%;
  margin-top: -90px;
  text-align: center;
}
.drumletters-taps div {
  display: inline-block;
}

.drumletters-tap {
  font-size: 50pt;
}
.drumletters-selector-checkbox {
  margin-top: 4px;
  position: relative;
}
.drumletters-selectors-checkbox-text {
  color: #FFE700;
  font-weight: bold;
}

.drumletters-selectors-container {
  top: 50%;
  transform: translateY(-50%);
}


.drumletters-play {
  font-size: 50pt;
  margin-top: -19pt;
  text-align: center;
  color: #F63E62;
}

.drumletters-sequencer-size {
  width: 12%;
}

.drumletters-footer .btn-default {
  color: #fff;
  background-color: #9A001E;
  border: 1px solid #4575d4;
}
.drumletters-footer .btn-danger {
  color: #fff;
  background-color: #F66F89;
  border: 1px solid #4575d4;
}

.drumletters-footer .form-control {
  color: #fff;
  background-color: #9A001E;
  border: 1px solid #4575d4;
}

