@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 500'), url('MuseoSansCyrl_1.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 700'), url('MuseoSansCyrl_2.woff') format('woff');
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Cyrl 300'), url('MuseoSansCyrl_0.woff') format('woff');
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #06799F;
}

#app {
  height: 100%;
  width: 100%;
}

.drumletters-wrapper {
  height: 100%;
  width: 100%;
}
.drumletters-title {
  font-size: 20px;
  text-align: center;
  color: #C7F66F;
}
.drumletters-main {
  height: 90%;
  width: 100%;
}
.drumletters-selector {
  height: 90%;
  width: 100%;
}
.drumletters-main {
  height: 90%;
  width: 100%;
}